.bsi-element-text-kkq2fq.hl-text-base {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto",sans-serif;
  line-height: 1.4;
  color: #575c6c;
  box-sizing: border-box;
  display: block;
  border-color: #e3e7ed;
  background-color: #fff;
}

.bsi-element-text-kkq2fq.hl-text-base div.content-box__inner {
  padding: 2rem;
  border-width: 2px;
  border-style: solid;
  border-color: inherit;
  border-radius: 4px;
}

.bsi-element-text-kkq2fq.hl-text-base div.content-box__inner p {
  margin-top: 0;
  margin-bottom: 0;
}
