{% macro render(elementId = null, textPartId = null, text = null) %}{% apply spaceless %}
    {% deprecated 'The usage of "element.render(...)" is deprecated, use "include ... with {...}" instead. For detailed information, visit: https://github.com/bsi-software/bsi-cx-design-master-template-web/blob/main/MIGRATION_GUIDE.md"' %}
    {% include './template.twig' %}
{% endapply %}{% endmacro %}

{% apply spaceless %}
    {% set textElementId = elementId ?: 'text-kkq2fq' %}
    {% set textPartId = textPartId ?: 'text-part-Fjse59' %}
    {% set text = (text ?: properties.textContent) ?: bsi_cx_lorem(50) %}

    <div data-bsi-element="{{ textElementId }}" data-bsi-element-part="{{ textPartId }}" class="{{ 'bsi-element-' ~ textElementId }} hl-text-base bsi-default">
        <div class="content-box__inner">
            <p>{{ text }}</p>
        </div>
    </div>
{% endapply %}