.bsi-element-button-v3cFFn.hl-button-base {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    position: relative;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border-radius: 4px;
    background: #e35d50;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 2px 8px 0 rgba(0, 0, 0, 0.08), 0 12px 16px 0 rgba(0, 0, 0, 0.02);
    cursor: pointer;
    transition: box-shadow 200ms, color 200ms, background 200ms, transform 200ms;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.4rem 2.4rem;
    min-width: 160px;
    min-height: 44px;
    text-decoration: none;
    line-height: 1.15;
}

.bsi-element-button-v3cFFn.hl-button-base a {
    color: #fff;
    text-decoration: none;
}

.bsi-element-button-v3cFFn.hl-button-base:hover:not(:disabled) {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 4px 10px 0 rgba(0, 0, 0, 0.08), 0 16px 18px 0 rgba(0, 0, 0, 0.04);
    transform: translateY(-0.2rem);
}

.bsi-element-button-v3cFFn.hl-button-base.hl-btn-width-full {
    display: flex;
    flex-grow: 1;
}

.bsi-element-button-v3cFFn.hl-button-base.hl-btn-size-cn {
    padding: 1.2rem 1.4rem;
    font-size: 1.5rem;
    min-width: 0;
}

.bsi-element-button-v3cFFn.hl-button-base.hl-btn-size-sm {
    padding: 1rem 1.2rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
    min-width: 0;
    min-height: 0;
}

.bsi-element-button-v3cFFn.hl-button-base.hl-btn-size-lg {
    min-height: 60px;
}
